<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Top Series</title>
<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
	<header>
		<div th:replace="~{header :: menu}"></div>
	</header>
	<h1>Top Series</h1>
	<table>
		<thead>
			<tr>
				<th>Carátula</th>
				<th>Título</th>
				<th>Plataforma</th>
				<th>Sinopsis</th>
				<th>Valoración media</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="serie : ${series}">
				<td><img th:src="@{'/caratulas/' + ${serie.caratula}}" alt="${serie.titulo}"></td>
				<td th:text="${serie.titulo}"></td>
				<td th:text="${serie.plataforma.nombre}"></td>
				<td th:text="${serie.sinopsis}"></td>
				<td th:text="${serie.notaMedia}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>